<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 构造器注入简单类型，看value的这个关键字就可以 -->
<!--    <bean id="bookDao" name="dao" class="com.itheima.dao.impl.BookDaoImpl">-->
<!--        <constructor-arg name="database" value="mysql" />-->
<!--        <constructor-arg name="connectionNumber" value="10" />-->
<!--    </bean>-->

<!--    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" />-->

<!--    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl">-->
<!--        &lt;!&ndash; 这里的name识别的是BookServiceImpl构造器的形参的名称 &ndash;&gt;-->
<!--        <constructor-arg name="bookDao" ref="bookDao" />-->
<!--        <constructor-arg name="userDao" ref="userDao" />-->
<!--    </bean>-->


    <!-- 构造器注入简单类型，定义type，value -->
<!--    <bean id="bookDao" name="dao" class="com.itheima.dao.impl.BookDaoImpl">-->
<!--        <constructor-arg type="java.lang.String" value="mysql" />-->
<!--        <constructor-arg type="int" value="10" />-->
<!--    </bean>-->

<!--    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" />-->

<!--    <bean id="bookService" name="service service2 bookEbi" class="com.itheima.service.impl.BookServiceImpl">-->
<!--        &lt;!&ndash; 这里的name识别的是BookServiceImpl构造器的形参的名称 &ndash;&gt;-->
<!--        <constructor-arg name="bookDao" ref="bookDao" />-->
<!--        <constructor-arg name="userDao" ref="userDao" />-->
<!--    </bean>-->

    <!-- 解决参数类型重复问题，使用位置解决参数匹配 -->
    <bean id="bookDao" name="dao" class="com.itheima.dao.impl.BookDaoImpl">
        <constructor-arg index="0" value="mysql" />
        <constructor-arg index="1" value="10" />
    </bean>

    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" />

    <bean id="bookService" name="service service2 bookEbi" class="com.itheima.service.impl.BookServiceImpl">
        <!-- 这里的name识别的是BookServiceImpl构造器的形参的名称 -->
        <constructor-arg name="bookDao" ref="bookDao" />
        <constructor-arg name="userDao" ref="userDao" />
    </bean>
</beans>