<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    按类型来自动装配-->
<!--    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl" />-->
<!--    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl" autowire="byType" />-->

<!--    按名称来自动装配-->
    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl" />
<!--    <bean id="bookDao2" class="com.itheima.dao.impl.BookDaoImpl" />-->
    <bean id="bookService" class="com.itheima.service.impl.BookServiceImpl" autowire="byName" />



</beans>