<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <!--    1. 开启context命名空间-->
    <!--    2. 使用context空间加载properties文件-->

    <!-- 这是加载一个jdbc文件的方法 -->
    <!-- 后面的system-properties-mode="NEVER"意思是为了因为系统属性会有可能跟jdbc中的username名称重复，never就是为了取消重复 -->
<!--    <context:property-placeholder location="jdbc.properties" system-properties-mode="NEVER"/>-->
    <!-- 这是加载两个jdbc文件的方法 -->
<!--    <context:property-placeholder location="jdbc.properties, jdbc2.properties" system-properties-mode="NEVER"/>-->
    <!-- 加载所有jdbc文件的方法 -->
<!--    <context:property-placeholder location="classpath:*.properties" system-properties-mode="NEVER"/>-->
    <!-- 上面的只能在当前工程中读，下面这个还可以表示从加载的框架的jar包中读取配置文件 -->
    <context:property-placeholder location="classpath*:*.properties" system-properties-mode="NEVER"/>

    <!--3. 使用属性占位符${}读取properties文件中的属性-->
    <bean  class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>

    <bean id="bookDao" class="com.itheima.dao.impl.BookDaoImpl">
        <property name="name" value="${username}" />
    </bean>
</beans>