<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookDao" name="dao" class="com.itheima.dao.impl.BookDaoImpl">
        <property name="database" value="mysql" />
        <property name="connectionNumber" value="10" />
    </bean>

    <bean id="userDao" class="com.itheima.dao.impl.UserDaoImpl" />

    <bean id="bookService" name="service service2 bookEbi" class="com.itheima.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao" />
        <property name="userDao" ref="userDao" />
    </bean>


</beans>